
.agile button {
     background-color: transparent;
     border: none;
   }

.agile__arrow {
  width: 80px;
}

.agile__arrow:hover {

  cursor: pointer;

}
.agile__arrow--next {
  right: 0;
}
.agile__arrow--prev {
  left: 0;
}
.agile__slide {
  height: 700px;
}
@media screen and (max-width: 700px) {
  .agile__arrow{
    display: none;
  }
  .agile__slide {
    height: 500px;
  }
  @media screen and (max-width: 376px) {
    .agile__slide {
      height: 300px;
    }
  }

}
